.form-control {
    box-shadow: none;
    border: none;
    border-radius: 0;
}

.form-control:focus {
    border-color: inherit;
    outline: 0;
    box-shadow: none;
}

body {
    font-family: 'Lato', 'Times New Roman', Times, serif;
    background: #F4F4F4;
}

.main {
    padding: 30px 0;
}

.converter {
    position: relative;
    height: auto;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 1px 15px 25px #B5A2A2;
}

.converter-display  {
    height: auto;
    overflow: auto;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

 .calculator__to-currency {
     height: 45%;
 }

.calculator__to-currency  {
    background: #FFFFFF;
}

.converter-display__header {
    display: block;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 0 15px 0;
    color: #FFFFFF;
}

.converter-display, .calculator__to-currency {
    position: relative;
}

.converter__container {
    width: 100%;
}

.currency-input, .converter__currency-input {
    padding: 0;
}

.btn-value {
    width: 100%;
    padding: 13px;
    font-weight: 600;
    font-size: 20px;
    background: inherit;
    color: #7096E6;
    border: inherit;
    margin-bottom: 10px;
}  

.btn-value:hover, 
.btn-value:active,
.btn-value:active:hover,
.btn-value[disabled]:hover,
.btn-value:focus,
.btn-value:active:focus  {
    color: #7096E6;
    background-color: #fdefef;
    border-color: #fdefef;
}

.converter__currency-display {
    color: #FFFFFF;
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin-top: -5px;
    word-wrap: break-word;
    line-height: 41px;
}

.conversion {
    margin-bottom: 20px;
}

.toggle-currency {
    position: relative;
    margin-bottom: 20px;
}

.toggle-currency::before, .toggle-currency::after {
    content: '';
    width: 37%;
    position: absolute;
    top: 15px;
    border-bottom: 2px solid #FFFFFF;
}

.toggle-currency::after {
    right: 5%;
}

.toggle-currency::before {
    left: 5%;
}

.toggle-currency__switch {
    padding: 2.5px;
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 10px #6D6464;
    font-weight: 500;
    font-size: 27px;
    border-radius: 100px;
}

.toggle-currency__switch, 
.toggle-currency__switch:hover, 
.toggle-currency__switch:active,
.toggle-currency__switch:active:hover,
.toggle-currency__switch:focus,
.toggle-currency__switch:active:focus  {
    background: #FFFFFF;
    color: #7096E6;
    border: none;
}

.toggle-currency__switch:hover, 
.calculator__controls--btn:active,
.calculator__controls--btn:focus,
.calculator__controls--btn:active:focus {
    box-shadow: 0 1px 3px #6d6464;
    outline: none;
    outline-offset: 0;
}

.converter__input {
    padding: 0;
    background: #FFFFFF;
    margin-top: 10px;
}

.conversion > span {
    color: #ffffff;
    font-weight: 600;
}

.convert__currency-list {
    background-color: inherit;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px;
    display: inline-block;
}

#convert--from {
    width: 86%;
}

#convert--to {
    width: 92%;
}

.convert__currency-list {
    color: #FFFFFF;
}

.convert__currency-list > option {
    background: #7096E6;
    color: #FFFFFF;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .main {
        padding: 0;
        position: fixed;
    }

    .converter {
        height: 100vh;
    }

    .converter-display__header { 
        display: none;
    }

    .btn-value {
        margin-bottom: 4px;
    }

    .conversion {
        margin-bottom: 10px;
    }

    .toggle-currency {
        margin-bottom: 15px;
    }

    .conversion:first-child {
        margin-top: 15px;
    }

    .convert__currency-list {
        margin-bottom: 0;
    }
}